.contacts {
	padding-bottom: 9px;
}
.contacts__header {
	font-family: OpenSans-Light;
	color:  #2c383c;
	font-size: 24px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 15px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin: 23px 0 0 29px;
}
.contacts__touch {
	background-color:  #ffd42d;
	width: 50px;
	height: 6px;
	border: none;
	margin-left: 3px;
	margin-top: 21px;
}
.contacts__data {
	background-color:  #f6f6f6;
	text-align: center;
	font-family: OpenSans-Light;
	color: #484848;
	font-weight: 300;
	line-height: 34px;
	font-size: 16px;
	padding: 4px;
	padding-left: 17px;
	padding-right: 17px;
}
.contacts__field {
	background-color:  #ffffff;
	text-align: center;
	font-family: OpenSans-Light;
	color: #9b9b9b;
	font-size: 16px; 
	font-weight: 300;
	padding: 4px;
	padding-left: 15px;
	padding-right: 15px;
}
.contacts__first-line {
	top: 5px;
	bottom: 5px;
}
.contacts__info {
	margin: 20px 0 0 30px;
}
.contacts__label {
	border: 1px solid #f1f1f1;
	border-collapse: collapse;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 19px;
}
.contacts__line {
	padding:0px;
}