.comments {
}
.comments__count {
	font-family: OpenSans-Light;
	color: #000000;
	font-size: 22px;
	font-weight: 300;
	line-height: 15px;
	text-align: left;
	margin: 28px 30px 18px;
}
.comments__avatar {
	width: 62px;
	height: 62px;
	position: relative;
	top: 9px;
	left: 9px;
}
.comments__border {
	border: 1px solid #f1f1f1;
	border-radius: 7px;
	width: 80px;
	height: 80px;
	float: left;
}
.comments__comment1 {
	width: 640px;
	border-bottom: 1px solid #f1f1f1;
	margin: 0 29px;
	padding-bottom: 36px;
}
.comments__comment2 {
	width: 542px;
	border-bottom: 1px solid #f1f1f1;
	margin: 25px 0 0 127px;
	padding-bottom: 36px;
}
.comments__comment3 {
	width: 444px;
	border-bottom: 1px solid #f1f1f1;
	margin: 27px 0 0 224px;
	padding-bottom: 36px;
}
.comments__last {
	margin: 26px 0 13px 29px;
	padding-bottom: 21px;
}
.comments__mess {
	margin: 0 98px; 
}
.comments__name {
	font-family: OpenSans;
	color: #3c3c3c;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	word-spacing: 1px;
	padding-top: 5px;
	margin: 0;
}
.comments__reply {
	width: 42px;
	height: 22px;
	font-family: OpenSans-Regular;
	color:  #2b373b;
	font-size: 11px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 22px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	background-color: rgb(255, 212, 45);
	border-radius: 5px;
	border:none;
	margin-top: 5px;
}
.comments__text-comment {
	font-family: OpenSans-Regular;
	color: #868686;
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	margin: -4px 0 0 1px;
}
.comments__time {
	font-family: OpenSans-Regular;
	color: #b8b8b8;
	font-size: 11px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}