.post {
}
.post__title {
	font-family: OpenSans-Bold;
	color: #2c383c;
	font-size: 24px;
	font-weight: 700;
	line-height: 15px;
	text-align: left;
	margin-left: 28px;
	word-spacing: 0px;
}
.post__about-blog {
	margin: 0 30px;
}
.post__signature {
	font-family: OpenSans;
	color: #a1a1a1;
	font-size: 11.966px;
	font-weight: 300;
	line-height: 22.563px;
	text-align: center;
	margin-right: 22px;
	word-spacing: 2px;
}
.post__text {
	font-family: OpenSans-Light;
	color:  #828282;
	font-size: 15px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin: -4px 30px 25px;
}
.post__paragraph{
	margin-top: 24px;
}