.contact {
	margin: 0 30px 28px;
	font-size: 14px;
}
.contact__street {
	font-family: OpenSans-Regular;
	color:  #828282;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 15px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	word-spacing: 2px;
	margin: 0 25px 0 12px;
}
.contact__number {
	font-family: OpenSans-Regular;
	color:  #828282;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 15px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	word-spacing: 0px;
	margin: 0 19px 0 3px;
}
.contact__email {
	font-family: OpenSans-Regular;
	color:  #828282;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 15px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin: 0 30px 0 12px;
}