@import url(/app/webroot/css/main/main.css);
@import url(/app/webroot/css/page/page.css);
@import url(/app/webroot/css/about/about.css);
@import url(/app/webroot/css/contacts/contacts.css);
@import url(/app/webroot/css/sidebar/sidebar.css);
@import url(/app/webroot/css/logo/logo.css);
@import url(/app/webroot/css/menu/menu.css);
@import url(/app/webroot/css/footer/footer.css);
@import url(/app/webroot/css/social/social.css);

@import url(/app/webroot/css/content/content.css);
@import url(/app/webroot/css/header/header.css);
@import url(/app/webroot/css/map/map.css);
@import url(/app/webroot/css/text-info/text-info.css);
@import url(/app/webroot/css/contact/contact.css);
@import url(/app/webroot/css/send-messages/send-messages.css);

@import url(/app/webroot/css/picture/picture.css);
@import url(/app/webroot/css/post/post.css);
@import url(/app/webroot/css/blog/blog.css);
@import url(/app/webroot/css/comments/comments.css);

@import url(/app/webroot/css/line/line.css);
@import url(/app/webroot/css/title/title.css);


@font-face {
    font-family: OpenSans-Regular; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: OpenSans-Bold; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/OpenSans-Bold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: OpenSans-Light; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: fontawesome-webfont; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: fontawesome-webfont; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/FontAwesome.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: fontawesome-webfont; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/fontawesome-webfont.eot); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: fontawesome-webfont; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/fontawesome-webfont.svg); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: fontawesome-webfont; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/fontawesome-webfont.woff); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: fontawesome-webfont; /* Гарнитура шрифта */
    src: url(/app/webroot/fonts/fontawesome-webfont.woff2); /* Путь к файлу со шрифтом */
   }