.text-info {
	padding: 0px;
}
.text-info__text {
	color: #828282;
	font-size: 15px;
	font-family: OpenSans-Light;
	color: rgb(130, 130, 130);
	line-height: 24px;
	text-align: left;
	margin: 10px 30px;
}
.text-info__title {
	font-family: OpenSans-Light;
	color: #2c383c;
	font-size: 20px;
	font-weight: 300;
	line-height: 15px;
	text-align: left;
	margin: 15px 30px 5px;
}
.text-info__output {
	height: 100px;
	width: 640px;
	margin-top: 50px;
}