.menu {
	width: 280px;
}
.menu__items {
	padding: 0px;
	margin: 0px;
}
.menu__item {
	background-color:  #2a363a;
	display: block;
	border: 1px solid rgb(0, 0, 0);
	border-bottom: none;
	float: right;
}
.menu__link {
	width: 249px;
	height: 71px;
	font-family: OpenSans-Regular;
	color: #d1d1d1;
	font-size: 17px; 
	font-weight: 400;
	text-decoration: none;
	float: left;
	text-align: right;
	padding-right: 29px;
}
.menu__border-last {
	border: 1px solid rgb(0, 0, 0);
}
.menu__item:hover {
	background-color: #ffd42d; 
	color:  #2c383c;
}
.menu__link:hover {
	background-color: #ffd42d; 
	color:  #2c383c;
}

.menu__icon:hover {
	color: #2c383c;
}
