.send-messages {
	margin: 0 30px;
	height: 268px;
}

.send-messages__first-colom {
	display: block;
	float: left;
	width: 267px;

}
.send-messages__second-colom {
}

.send-messages__data {
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid rgb(209, 209, 209);
	width: 228px;
	height: 49px;
	margin-bottom: 10px;
	font-family: OpenSans-Regular;
	color:  #555555;
	font-size: 12px;  
	font-weight: 400;
	line-height: 19px; 
	text-align: left;
	padding-left: 18px;
	padding-top: 0px;
}
.send-messages__message {
	width: 367px;
	height: 170px;
	border-radius: 5px;
	background-color:  #ffffff;
}
.send-messages__button {
	border-radius: 4px;
	background-color:  rgb(255, 212, 45);
	width: 120px;
	height: 43px;
	float: right;
	margin-top: 17px;
	font-family: OpenSans-Regular;
	color:  #2b373b;
	font-size: 11.983px; 
	font-weight: 400;
	line-height: 19px; 
	text-align: center;
	border:none;
}
.send-messages__send {
}