.social {
	float: right;
	margin-top: 26px;
	margin-right: 13px;
	display: inline;
}
.social__item {
	display: inline;
	margin-right: 16px;
	border: none;
}
.social__icon {
	font-family: FontAwesome;
	color:  #2b373b;
	font-size: 19.98px; 
	font-weight: 400;
	text-align: left;

}