.logo {
	background-image: url(img/photo-back.jpg);
	padding: 64px 0 62px 70px;
}
.logo__border-img {
	opacity: 0.5;
	background-color: rgb(217,227,236);
	width: 140px;
	height: 140px;
	border-radius: 50%;
	text-align: center;
	z-index: 10;
}
.logo__img {
	width: 120px;
	height: 120px;
	background-color:  #d9e3ec;
	border-radius: 50%;
	margin-top: 10px;
	z-index: 2;
}