.footer {
	background-color:  #f1f1f1;
	height: 69px;
	width: 700px;
	margin: 0 465px;	
}
.footer__copyright {
	width: 282;
	float: left;
}
.footer__copyright-text {
	margin: 19px 30px 0;
	font-family: OpenSans-Light;
	color:  #000000;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 32px; /* Приближение из-за подстановки шрифтов */
}
