.header {
	height: 93px;
}
.header__arrow {
	font-family: FontAwesome;
	color:  #2c383c;
	font-size: 30px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 34px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	float: right;
	margin-top: 12px;
	margin-right: 15px;
}
.header__next-page {
	height: 50px;
	width: 250px;
	float: right;
	text-align: left;
	margin-top: 16px;
	margin-right: 17px;
}
.header__title {
	font-family: OpenSans-Bold;
	color:  #2c383c;
	font-size: 30px; 
	font-weight: 700;
	line-height: 15px; 
	text-align: left;
	float: left;
	margin-left: 28px;
	margin-top: 37px;
}
.header_navigating-pages {
	font-family: OpenSans-Light;
	color: #2c383c;
	font-size: 13px;
	font-weight: 300;
	line-height: 34px;
	text-align: left;
	float: left;
}