.about {
	margin: 0 25px;
}
.about__header {
	font-family: OpenSans-Light;
	color:  #605f5f;
	font-size: 32px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 36px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	float: left;
	margin-left: 2px;
	margin-top: 25px;
	width: 650px;
}
.about__text {
	font-family: OpenSans-Light;
	color:  #828282;
	font-size: 17px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 29px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-left: 4px; 
}
.about__name {
	font-family: OpenSans-Bold;
	color:  #000000;
	font-size: 32px; /* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 36px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.about__line {
	width: 70px;
	height: 3px;
	background-color: rgb(255, 212, 45);
	border: none;
	margin: 22px 3px -2px;
}